name: RA-EE Action with Yarn
on: [some-event]

jobs:
  ra_enterprise_action_workflow:
    runs-on: ubuntu-latest
    name: Yarn v${{matrix.version}} - Add ReactAdmin Enterprise Edition CI token
    strategy:
      matrix:
        version: ["1.22.21", "2.4.3", "3.6.4", "4.0.0"]
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Fetch all the git history to enable git comparison
      - name: Token file creation
        uses: ./
        # uses: react-admin/ra-enterprise-action@1.0.0
        env:
          CI_TOKEN: ${{secrets.RA_EE_CI_TOKEN}}
      - run: yarn set version ${{matrix.version}}
      - run: yarn -v
      - run: yarn install
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
